<font color="FFFFFF">
<br />
<center><h1> Add Developer Team </h1></center>

<br /><hr /><br />

<%= render 'form' %>

<%= link_to 'Back to main page', root_path %> |
<%= link_to 'Developer team list', developers_path %>
</font>
