<font color="FFFFFF">
<br />
<center><h1> Edit Platform </h1></center>

<br /><hr /><br />

<%= render 'form' %>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Show platform', @platform %> |
<%= link_to 'Back to platform list', platforms_path %>
</font>
