<font color="FFFFFF">
<br />
<center><h1> Edit User </h1></center>

<br /><hr /><br />

<%= render 'form' %>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Show user', @user %> |
<%= link_to 'Back to user list', users_path %>
</font>>
