<font color="FFFFFF">
<br />
<center><h1> Edit Publisher </h1></center>

<br /><hr /><br />
<%= render 'form' %>

<%= link_to 'Back to main page', root_path %> |
<%= link_to 'Show publisher', @publisher %> |
<%= link_to 'Back to publisher list', publishers_path %>
</font>
