<font color="FFFFFF">
<br />
<center><h1> Edit Rating </h1></center>

<br /><hr /><br />

<%= render 'form' %>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Show rating', @rating %> |
<%= link_to 'Back to rating list', ratings_path %>
</font>
