<font color="FFFFFF">
<h1>Add Rating to Game</h1>

<br /><hr /><br />

<%= render 'form' %>

<%= link_to 'Back to main page', root_path %> |
<%= link_to 'Back to rating list', ratings_path %>
</font>
