<font color="FFFFFF">
	
<br />
<center><h1> About us </h1></center>

<br /><hr /><br />

<b><p align="center">
	<p>
	The purpose of my website is to provide the lists of games, developer teams, publishers, and platforms to the gamers so they can find which games, developer teams, publishers, and platforms are the best for their needs.  My website also allows gamers to rate any games and post their comments on a feedback page.  With the feedback page, I will be able to read any feedback for improving my web page through time.
	</p>
	<p>
	My goal of my project is to set up a website with login user, search, and database features available.  The database retains information about registered users, added games, game ratings, game publishers, gaming platforms, and comments/feedback.  The database will make it easy to manage any lists of information as well as comments created by users on the website.
	</p>
</p></b>
</font>
