<font color="FFFFFF">
	
<br />
<center><h1> About us </h1></center>

<br /><hr /><br />

<b><p align="center">
	This is a test page for 'About us' page where this will explain to you the purpose of this website.  Basically, this web page is to bring database with information about games, publishers,
	develop teams, and platforms for customers to learn about each of them.  And at the same time, customers will be able to rate and comments on any games that is shown in list.
</p></b>
</font>
