<font color="FFFFFF">
<center><h1>Password Restoration Page</h1></center>

<br /><hr /><br />

<b>(Submit Email address to recover password)</b>

<br /><br />

<table>
	<tr>
		<td> Email Address :</td>
		<td> <input type="text" name="email" id="email" size="50" /> </td>
	</tr>
</table>

<br /><hr /><br />

<table>
	<td>
		<input type="reset" />
		<input type="submit" id="restore" value="Restore password"/>
	</td>
</table>
</font>
