<font color="FFFFFF">

<br />
<center><h1> Welcome to My Gaming Page!</h1></center>

<br /><hr />


<center><h3>News/Annoucement</h3></center>

<center><p align="left" id="para"><br />
	<b>Wednesday, November 30, 2011</b>
	<br /><br />
	Welcome to my site page!  Today is the first day that this web site is up running.  This website is still  under construction.
	I am looking forward fully finish this website while upgrading and expanding this website through time.
	<br /><br />
</p></center>

<br />

<center><p align="left" id="para"><br />
	<b>Monday, December 05, 2011</b>
	<br /><br />
	I have been improving my web page with new colors and styles so far and I hope that these people who view my pages like the way it look.  I appreciate any feedbacks so please post your feedback under feedback page, thank you!
	<br /><br />
</p></center>

<br />

<center><p align="left" id="para"><br />
	<b>Friday, December 09, 2011</b>
	<br /><br />
	I have successfully created database for game, developer team, publisher, and platform list.  The list should be posted soon.
	<br /><br />
</p></center>

</font>
