<font color="FFFFFF">
<center><h1>Welcome to David Salazar's Games Website Registration Page</h1></center>

<br /><hr /><br />

<table>
	<tr>
		<td> User Name: </td>
		<td> <input type="text" name="username" id="username" size="50" /> </td>
	</tr>
	<tr>
		<td> Email Address :</td>
		<td> <input type="text" name="email" id="email" size="50" /> </td>
	</tr>
	<tr>
		<td> Password: </td>
		<td> <input type="text" name="password1" id="password1" size="50" /> </td>
	</tr>
	<tr>
		<td> Re-type Password </td>
		<td> <input type="text" name="password2" id="password2" size="50" /> </td>
	</tr>
</table>

<br /><hr /><br />

<table>
	<td>
		<input type="reset" />
		<input type="submit" id="registry" value="Registry"/>
	</td>
</table>
</font>