<font color="FFFFFF">
	
<br />
<center><h1> Terms of Service Privacy Statement </h1></center>

<br /><hr /><br />

<b><p align="center">
	This is a test page for Terms of Service Privacy Statement.
</p></b>
</font>
