<font color="FFFFFF">
<br />
<center><h1> Edit Game </h1></center>

<br /><hr /><br />

<%= render 'form' %>

<%= link_to 'Back to main page', root_path %>
<%= link_to 'Show game', @game %> |
<%= link_to 'Back to game list page', games_path %>
</font>
