<footer class = "round">
	<ul>
		<li>-----------------------------------</li>
		<li>©2011</li>
		<li> | </li>
		<li>David Salazar Gaming Website</li>
		<li> | </li>
		<li><%= link_to "Terms of Service Privacy Statement", "#" %></li>
		<li> | </li>
		<li><%= link_to "Feedback", "#" %></li>
		<li> | </li>
		<li><%= link_to "About", "#" %></li>
		<li> | </li>
		<li><%= link_to "Contact", "#" %></li>
		<li>-----------------------------------</li>
	</ul>
</footer>