<footer class = "round">
	<ul>
		<li>-----------------------------------</li>
		<li>©2011</li>
		<li> | </li>
		<li>David Salazar Gaming Website</li>
		<li> | </li>
		<li><%= link_to "Terms of Service Privacy Statement", term_path %></li>
		<li> | </li>
		<li><%= link_to "Feedback", feedback_path %></li>
		<li> | </li>
		<li><%= link_to "About", about_path %></li>
		<li> | </li>
		<li><%= link_to "Contact", contact_path %></li>
		<li>-----------------------------------</li>
	</ul>
</footer>